.navbar-inverse {
     background-color: #fff;
    border-color: #080808;
    border: none;
    font-weight: bold;
  }
 .text-brand
  {
    color: #000000;
    font-size: 3.3rem;
    font-weight: 650;
  }
  .color-b
{
  color: #2eca6a;
}
.navbar-brand
{
   padding-top: 45px;
   padding-bottom: 45px;
   padding-left: 120px;
   padding-right: 190px;
}
.nav-link.active
{
 color: #2eca6a;
}
.link
        {
          transition-delay: 0.3s;
          transition-duration: 2s;
          color: black;

        }
    
        
    
.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: 20px;
  
}
.navbar-inverse .navbar-nav>li>a:hover
{
  color:black;
  text-decoration:underline;

}
.title-a
{
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
}
.main-div
{
  background-image: url(../img/slide-1.jpg);
  height: 650px;
  width: 100%;
  opacity:.7;
}
.navbar-nav
{
  padding-top: 25px;
}
.services
{
  font-size: 42px;
  color: #000;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 20px
}

  .review-section


{
/*            background-color: #f4f3ef;*/
            padding:40px 80px;
            text-align: center;
        }
        .item
        {
            background-color: rgb(185, 183, 183);
            padding: 40px;
        }
        .service-icons i
        {
          font-size: 62px;
          color: #000;
          padding: 2rem 4rem 2rem 3.5rem;
          border: 5px solid #2eca6a;

        }
        .icon-text
        {
          font-size: 36px;
          font-weight: 700;
          color: #000;
          margin-left: 20px;
        }
        .header-btn
        {
           background-color: #ff000000;
           border: 2px solid #2eca6a;
           color: #fff;
           border-radius: 50px;
           padding: 18px 30px;
           font-size: 23px;
           font-weight:400;
           margin-left: 140px;
           margin-top: 30px;
        }
        .agency-btn {
    background-color: #ff000000;
    border: 2px solid #2eca6a;
    color: #fff;
    border-radius: 50px;
    padding: 18px 30px;
    font-size: 23px;
    font-weight: 400;
    margin-left: 140px;
    margin-top: 30px;
  }
    .lifestyle-prop1
{
  background-image: url(../img/property-6.jpg);
  height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
    .lifestyle-prop2
{
  background-image: url(../img/property-3.jpg);
  height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
    .lifestyle-prop3
{
  background-image: url(../img/property-7.jpg);
  height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
    .lifestyle-prop4
{
  background-image: url(../img/property-10.jpg);
  height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.agents-img1
{
  background-image: url(../img/agent-1.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.agents-img2
{
  background-image: url(../img/agent-2.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.agents-img3
{
  background-image: url(../img/agent-3.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.latest-news1
{
background-image: url(../img/post-2.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.latest-news2
{
background-image: url(../img/post-5.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.latest-news3
{
background-image: url(../img/post-7.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.latest-news4
{
background-image: url(../img/post-3.jpg);
   height: 470px;
  width: 380px;
/*  background-repeat: no-repeat;*/
background-size: cover;
}
.footer-div
{
     padding-top: 36px;
    background: #f3f3f3;
    height: 542px;
    width: 100%;
    margin-top: 50px;
}
.footer-head
{
/*  font-weight: 600px;*/
  padding-left: 150px;
  margin-bottom: 150px;
  padding-right: 50px;
  color: #000000;
}
.social-icon
{
  height: 25px;
  width: 25px;
}
.ic{
  
}